
body {
  font-family: 'Roboto', serif;
  background: linear-gradient(180deg, #8EA73B 25%, #33332C 50%, #33332C 75%);
  color:#CCC;
} 

header {
  text-align:center;
  margin: 40px 0 40px;
}

html {
  scroll-behavior: smooth;
}

.green {
  margin: 100px auto 200px auto;
  width: 80%;
  text-align: center;
}

h1.white {
  font-family: 'Montserrat', serif;
  font-weight: bold;
  color: white;
  font-size:18px;
  line-height: 30px;

}

p.gray {
  color:#232016;
  line-height: 30px;
}

.landing-content {
  text-align: center;
}

.landing-text {
  text-align: left;
  width: 70%;
  margin: auto ;
}

.logo-landing {
  margin-bottom: 40px;
}

.logo-menu {
  padding-top: 80px;
}

h1 {
  font-size: 18px;
  font-weight: lighter;
  color: rgb(122, 122, 122);
  margin-top: -5px;
  margin-bottom: 50px;
}

h2, h4, span {
  font-family: 'Montserrat', serif;
  font-weight: bold;
  color:#CEDD47;
}

h3 {
  font-size: 15px;
  font-weight: lighter;
}

h4 {
  color: #CEDD47;
  font-size:14px;
}

.dark {
  background-color:#232016;
  border-radius: 10px;
  margin: 0 auto 0 auto;
  padding: 20px;
}

label { 
    width: 100px; 
    float: left; 
    margin: 0 20px 0 0; }

span {
    width: 115px;
    display: block; 
    margin: 0 0 3px; 
    font-size: 1.2em; 
    font-weight: bold; 
    }

input { 
    width: 100px; 
    padding: 5px;
    border-radius: 30px; 
    border: none;
    background-color: #CCC;
  }

button {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    text-decoration: none;
    color: #525E14;
    position: relative;
    display: inline-block;
    background-color: #CEDD47;
    box-shadow: 0px 5px 0px 0px #818E2B;
    border:none;
    margin: 20px auto 0 auto;
  }
  
  button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
    background-color: #b4b4b4;
    color:#666;
    border:none;
  }
  
  .coin-symbol-formula {
    text-transform: uppercase;
  }
/* Groups & Items  (Mobile First) */
.coin-inputs {
    width: 360px;
    text-align: center;
    margin: 0 auto 30px auto;
}
.wrapper {
    width: 80%;
    margin: auto;
  }
  
  .group {
    display: flex;
    flex-direction: column;
  }
  
  .item {
    flex: 1;
    margin: 20px;
    text-align: center;
  }
  
  .item-double {
    flex: 2;
    margin: 10px;
  }

  .group {
    flex-direction: row;
  }

 
  
  /* Groups & Items  (Desktop) */
  
  @media (min-width: 0px) and (max-width: 600px) {
    .group {
      flex-direction: column;
    }
  }

  @media all and (max-width: 600px) {

    .coin-volume {
        display: none;
    }

    .coin-volume-title {
        display: none;
    }
    
      
  }

  @media all and (max-width: 900px) {
      .coin-percent {
        display: none;
    }

    .coin-percent-title {
        display: none;
    }

    }
    

  @media all and (max-width: 1200px) {
  
         
    .coin-market-cap {
        display: none;

    }

    .coin-market-cap-title {
        display: none;
    }

    }

  /* Coin Chart Data */

  .coin-container {
    display: flex;
    justify-content: center;
  }
  
  .coin-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 90%;
  }
  
  .coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
     min-width:125px;
  }
  
  .coin h1 {
    font-size: 16px;
    width: 125px;
  }
  
  .coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

    .coin-market-data {
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
  }

  .coin-symbol {
    text-transform: uppercase;
    margin-right:40px;
  }
   
  .coin-price {
    width: 110px;
    margin-right:20px;
  }
  
  .coin-volume {
    width: 155px;
    margin-right:20px;
  }
  
  .coin-percent {
    width: 140px;
  }
  
  .coin-market-cap {
    width: 230px;
  }

  .coin-symbol-title {
    margin-right:15px;
  }

  .coin-price-title {
    width: 110px;
    margin-right:20px;
  }
  
  .coin-volume-title {
    width: 155px;
    margin-right:60px;
  }
  
  .coin-percent-title {
    width: 120px;
  }
  
  .coin-market-cap-title {
    width: 230px;
  }